@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*
Browsers: last 4 version
*/

@media (max-width: 920px) {
    body {
        font-size: 16px;
    }

    .wrapper {
        max-width: 600px;
    }

    h1 {
        font-size: 45px;
        max-width: 600px;
    }

    h2 {
        font-size: 25px;
        margin-top: 74px;
    }

    .title {
        top: calc(50% - 67px - 75px);
    }

    .stat {
        max-width: 500px;
        margin: -106px auto 0;
        padding-top: 41px;
        padding-bottom: 35px;
    }

    .stat-item h2 {
        font-size: 50px;
        margin-bottom: 14px;
    }

    .stat-item h3 {
        font-size: 20px;
    }

    .box-party h3 {
        margin-top: 30px;
    }

    .box-contact h3 {
        font-size: 30px;
    }

    .box-contact p {
        font-size: 16px;
    }

    .grid {
        grid-gap: 16px;
        margin-top: 59px;
        margin-bottom: 91px;
    }

    .box-feedback {
        margin-top: 32px;
        margin-bottom: 66px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .feedback {
        margin-bottom: 20px;
    }

    .box-feedback > div {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .footer-contact {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 61px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer-contact > div {
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        max-width: 49%;
    }

    .footer-contact h3 .footer-contact-info {
        font-size: 20px;
    }

    .footer {
        margin-top: 32px;
    }

    .picture {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 14px;
    }

    .stat-item h2 {
        font-size: 40px;
        margin-bottom: 14px;
    }

    .bg {
        height: initial;
        position: inherit;
        padding: 50px 0 150px;
    }

    .title {
        position: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
    }

    h1 {
        font-size: 30px;
    }

    .stat, .box-party {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .box-party {
        margin-bottom: 46px;
    }

    .stat-item {
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
        max-width: 49%;
    }

    .stat-item h2 {
        font-size: 40px;
    }

    .box-party > div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }

    .box-party img {
        width: 100%;
        max-width: 200px;
    }

    .box-party h3 {
        margin-top: 13px;
        padding-top: 18px;
        margin-bottom: 30px;
    }

    .box-party h3::before {
        right: 0;
        margin: 0 auto;
    }

    .grid {
        grid-template-areas: "a b" "c d" "e f";
    }

    .grid-photo {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .box-contact h3 {
        font-size: 25px;
        margin-bottom: 13px;
    }

    .box-contact p, .footer-contact-info, .footer-contact h3 {
        font-size: 14px;
    }

    .footer-contact img {
        max-width: 32px;
        width: 100%;
    }

    .contact {
        padding: 30px 0;
    }

    .picture {
        margin-top: 16px;
        margin-bottom: 16px;
        max-width: 30%;
        max-height: 20%;
    }
}

@media (max-width: 500px) {
    .box-contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .box-contact p {
        margin-bottom: 20px;
    }

    .picture {
        margin-top: 12px;
        margin-bottom: 12px;
        max-width: 20%;
        max-height: 10%;
    }
}

@media (max-width: 400px) {
    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    }

    .footer {
        font-size: 14px;
    }

    .picture {
        margin-top: 8px;
        margin-bottom: 8px;
        max-width: 10%;
        max-height: 5%;
    }
}

* {
    margin: 0 auto;
    padding: 0;
}

html body {
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1 {
    color: #a1a1a1;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
}

h1 + p {
    color: #a1a1a1;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-gray {
    background-color: #F7F7F7;
}

.bg {
    background-image: url("./image/drift.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.bg-title {
    padding: 10%;
}

.title {
    padding-top: 10px;
    padding-bottom: 8px;
}

.stat {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 739px;
    margin: -200px auto 0;
}

.stat-item h2 {
    color: #F7654A;
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.stat-item h3 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 2px;
}

.stat-item p {
    color: #999999;
    margin-bottom: 20px;
    margin-top: 2px;
}

.box-party {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.box-party > div {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    max-width: 31%;
}

.box-party img {
    width: 100%;
}

.box-party h3 {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.box-party h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: #F7654A;
}

.contact {
    background-color: #F7654A;
    color: #F7F7F7;
}

.box-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box-contact h3 {
    font-size: 48px;
    letter-spacing: 0.02em;
}

.box-contact p {
    font-size: 24px;
    letter-spacing: 0.02em;

}

.box-contact button {
    background-color: white;
    border: none;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
}

.grid {
    text-align: center;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 20px;
}

.grid-item {
    background-color: #F7F7F7;
    width: 55%;
    height: 70%;
    padding: 20px;
}

.grid-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
}

.grid-two {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: b;
}

.grid-three {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: c;
}

.grid-four {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: d;
}

.grid-five {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: e;
}

.grid-six {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: f;
}

@media (max-width: 640px) {
    .grid-one {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .grid-two {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .grid-three {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .grid-four {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .grid-five {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .grid-six {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
}

@media (max-width: 400px) {
    .grid-one {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .grid-two {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .grid-three {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .grid-four {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .grid-five {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }

    .grid-six {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
}

.grid-photo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item {
    height: 100%;
    position: relative;
}


.grid-photo-item::before {
    content: '';
    background-color: rgba(64, 65, 73, 0.5);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid-photo-item:hover::before {
    background-color: rgba(64, 65, 73, 0.1);
}

.grid-photo-item img {
    width: 100%;
    height: 100%;
}

.box-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.box-feedback > div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    max-width: 32%;

}

.feedback {
    background-color: #F7F7F7;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 20px 30px;
}

.feedback::before {
    content: '';
    background-image: url("./image/11.png");
    display: block;
    background-repeat: no-repeat;
    width: 34px;
    height: 28px;
}

.name {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;

}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
}

.footer-contact > div {
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    max-width: 24%;
}

.footer-contact-info {
    padding-left: 0;
    padding-top: 10px;
}

.footer-icon_size {
    width: 71px;
    height: 29px;
}

.footer-title {
    font-size: 24px;
    line-height: 36px;
    color: #999999;
}

.footer-contact-info {
    font-size: 24px;
    line-height: 36px;
}

.footer {
    background: #404149;
    padding: 10px 0px;
    margin-top: 4%;
}

.box-party-title {
    padding-bottom: 10px;
}

.wrapper-path {
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper-title {
    margin-bottom: 25px;
}

.button-box-contact:active {
    background-color: rgba(247, 130, 74, 0.5);
}

.content__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    min-width: 784px;
}

.picture {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 660px;
    max-height: 380px;
}

.header {
    background-image: url("./image/header-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.title-content {
    color: #F7654A;
}

.menu__contents {
    text-align: center;
}

.menu-content__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 16px;
    font-size: 22px;
}

.menu__links {
    color: #F7654A;
}

.menu-anchor {
    width: 320px;
    height: 300px;
    margin: 0 auto;
    background-image: url("./image/drift-logo.jpg");
    background-size: cover;
    opacity: 0.95;
}

.header {
    background-image: url("./image/header-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.header-photo {
    background-image: url("./image/header-3.jpg");
}

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #F7654A;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #F7654A;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #F7654A;
}


.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 5vw 1.5rem 5vw 1.5rem 5vw 1.5rem 5vw 1.5rem 5vw 1.5rem 5vw 1.5rem 5vw 1.5rem 5vw;
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(21) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(22) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(23) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(24) {
    -ms-grid-row: 5;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(25) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(26) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(27) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(28) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(29) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(30) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(31) {
    -ms-grid-row: 7;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(32) {
    -ms-grid-row: 7;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(33) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(34) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(35) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(36) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(37) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(38) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(39) {
    -ms-grid-row: 9;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(40) {
    -ms-grid-row: 9;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(41) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(42) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(43) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(44) {
    -ms-grid-row: 11;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(45) {
    -ms-grid-row: 11;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(46) {
    -ms-grid-row: 11;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(47) {
    -ms-grid-row: 11;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(48) {
    -ms-grid-row: 11;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(49) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(50) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(51) {
    -ms-grid-row: 13;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(52) {
    -ms-grid-row: 13;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(53) {
    -ms-grid-row: 13;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(54) {
    -ms-grid-row: 13;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(55) {
    -ms-grid-row: 13;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(56) {
    -ms-grid-row: 13;
    -ms-grid-column: 15;
}

.gallery > *:nth-child(57) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
}

.gallery > *:nth-child(58) {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
}

.gallery > *:nth-child(59) {
    -ms-grid-row: 15;
    -ms-grid-column: 5;
}

.gallery > *:nth-child(60) {
    -ms-grid-row: 15;
    -ms-grid-column: 7;
}

.gallery > *:nth-child(61) {
    -ms-grid-row: 15;
    -ms-grid-column: 9;
}

.gallery > *:nth-child(62) {
    -ms-grid-row: 15;
    -ms-grid-column: 11;
}

.gallery > *:nth-child(63) {
    -ms-grid-row: 15;
    -ms-grid-column: 13;
}

.gallery > *:nth-child(64) {
    -ms-grid-row: 15;
    -ms-grid-column: 15;
}

.gallery__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.gallery__item--2 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.gallery__item--3 {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 5;
    grid-row-end: 6;
}

.gallery__item--4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 3;
    grid-row-end: 9;
}

.gallery__item--6 {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 3;
    grid-row-end: 9;
}